[Unit]
Description= Automatic rotator startup Service
After=mariadb.service network.target

[Service]
Type=simple
User=root
ExecStart=/home/pi/Oceannet/automate.py

Restart=on-abort

[Install]
WantedBy=multi-user.target
