<!DOCTYPE html><html class="menu">
<html>

<head>

<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content=="IE=edge"/>
<meta name="google" value="notranslate"/>
<title>OceanNet Configuration</title>
<link rel="shortcut icon" href="static/images//favicon.ico" type="image/x-icon">
<link rel="icon" href="static/images//favicon.ico" type="image/x-icon">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}">
<link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body style="background-color:#000000d9;" align="center">
<img src="static/images/logo2.png" alt="OceanNet logo" class="w3-image" width="25%" height="25%" align="center">
<font face="Roboto" color='white'>
<p> Login to access device settings </font> </p>
<div class="login">
  <form action="/login" method="POST">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password"> 
  <font face="Roboto">
  <p> Enter OTP shown below </p> </font>
  <img src="\static\images\captcha.jpg">
  <input type="text" name="otp" placeholder="otp"> 
  <a href="{{ url_for('login') }}"><button><i class="fa fa-refresh"></i></button></a>
  <!-- <a href="#" class="forgot">forgot password?</a> -->

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
   
    {% for category, message in messages %}
    
      <br><br>
      <font color="red">
      {{ message }} </font>
    {% endfor %}
    <!-- </ul> -->
  {% endif %}
{% endwith %}

  <input type="submit" value="Login">
</form>
<form action="/register" method="POST">
  <input type="submit" value="register">
</form>
<br>

<hr>
<a href="https://www.amrita.edu" target="_blank"><img src="\static\images\icons\call.png" width="50" height="50"></a>
<a href="https://www.facebook.com/amritawna" target="_blank"><img src="\static\images\icons\fb.png" width="50" height="50"></a>
<a href="https://www.youtube.com/amritawna" target="_blank"><img src="\static\images\icons\yT.png" width="50" height="50"></a>
</div>
<div class="shadow"></div>

</body>
</html>